.header {
  height: 50px;
}

.header-top {
  height: 15px;
  background-color: black;
}

.header-search {
  height: 15px;
}

.header-menu {
  height: 20px;
}

.footer {
  height: 100px;
  background-color: black;
}

.footer-address {
  height: 35px;
  color: white;
}

.footer-menu {
  height: 35px;
  color: white;
}